<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>云影交流网-文件详情</title>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/toastr.min.css" type="text/css" />
<link rel="stylesheet" href="css/jquery-confirm.min.css">
<link rel="stylesheet" href="dist/css/index.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toastr.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<style type="text/css">
body {
 padding-top: 70px;/*有顶部固定导航条时设置*/
}
a {
	cursor: pointer;
}
</style>
</head>
<body ng-app="myApp" ng-controller="userInfo">
			<div class="container col-lg-12">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="navbar-header">
							 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
							 <a class="navbar-brand" href="#">云影BBS</a>
						</div>
						<div class="collapse navbar-collapse col-lg-offset-2" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li >
									 <a href="home.html">浏览帖子</a>
								</li>
								<li class="active">
									 <a href="#">下载文件</a>
								</li>
								<li >
									 <a href="shareFile.html">分享文件</a>
								</li>
							</ul>
							
							<ul class="nav navbar-nav navbar-right">
								<li>
									 <a href="person_information.html"><strong>个人中心</strong></a>
								</li>
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											 <a href="#">Action</a>
										</li>
										<li>
											 <a href="#">Another action</a>
										</li>
										<li>
											 <a href="#">Something else here</a>
										</li>
										<li class="divider">
										</li>
										<li>
											 <a href="#">Separated link</a>
										</li>
									</ul>
								</li>
								<li>
									 &nbsp; &nbsp; &nbsp; &nbsp;
								</li>
							</ul>
						</div>
						
					</nav>
				</div>
			</div>
		</div>
		<div id="mainDiv" class="container col-lg-7 col-lg-offset-1"
			 ng-controller="fileInfo">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<ol class="breadcrumb">
								<li><a href="file.html">文件下载列表</a></li>
								<li class="active">{{file.fileName}}</li>
							</ol>
						</div>
						<div class="panel-body" id="fileDetail">
							<h2 class="text-center">{{file.fileName}}</h2>
							<dl class="dl-horizontal col-lg-offset-1">
								<dt>文件类型</dt>
								<dd>{{file.fileStyle}}</dd>
								<dt>文件大小</dt>
								<dd>{{file.fileSize}}</dd>
								<dt>分享者</dt>
								<dd>{{file.userName}}</dd>
								<dt>分享时间</dt>
								<dd>{{file.time | date : 'yyyy-MM-dd HH:mm:ss'}}</dd>
								<dt>下载量</dt>
								<dd>{{file.downloads}}</dd>
							</dl>
							<div class="col-lg-12 col-lg-offset-3">
								<button type="button" class="btn glyphicon glyphicon-open-file">
									文件预览</button>
								<button type="button"
									class="btn glyphicon glyphicon-download-alt"
									onclick="download()"> 下载文件</button>
								<button type="button" class="btn glyphicon glyphicon-qrcode"
									data-toggle="modal" data-target="#myModal"> 二维码下载</button>
								<button type="button" class="btn glyphicon glyphicon-hdd">
									举报</button>
							</div>

							<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" style="width: 350px;">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">扫描二维码下载文件</h4>
										</div>
										<div class="modal-body">
											<img alt="二维码" id="qrCode">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								
								$('#myModal').on('show.bs.modal',
												function() {
													$("#qrCode")
															.attr(
																	'src',
																	"qrCode/get?fileId="
																			+ getUrlParam("id"));
												});
							</script>
							<div class="col-md-12 column" style="margin-top: 1%;">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">
											<span class="label label-info">文件简要</span>
										</h3>
									</div>
									<div class="panel-body">
										<p class="text-info">{{file.fileDetail}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<p class="text-center"><strong>注意!</strong>该文件由用户自发上传，由此可能导致的侵权问题本网站概不负责</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="userInfo" class="container col-lg-3 col-lg-offset-1"
		style="margin-top: 1%;" ng-view>
	    </div>
		<div id="comment" class="container col-lg-3 col-lg-offset-1"
			 ng-show="flag==0">
			<div class="row clearfix">
				<div class="col-lg-12 column">
					<div class="panel panel-default">
						<div class="panel-heading">留言区</div>
						<div class="panel-body" >
							<div id="editor" contenteditable="true"
								style="overflow-x: hidden;"></div>
						</div>
						<div class="panel-footer">
							<div class="input-group">
								<span class="input-group-addon btn"
									style="background-color: white;">@{{user.userName}}</span>  <span
									class="input-group-addon btn" id="reset">清空</span> <span
									class="input-group-addon btn" id="send">发表</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="commentDiv" class="container col-lg-7 col-lg-offset-1">
			<div class="row clearfix">
				<div class="col-lg-12 column">
					<div class="panel panel-default">
						<div class="panel-heading">评论区</div>
						<div class="panel-body" id="fileList" ng-controller="commentInfo">
							<div class="col-md-12 column well well-sm" ng-repeat="co in comment">
							<div class="col-lg-9">
							<img  alt="头像" height="30px;" width="30px;" class="img-thumbnail" ng-src="{{co.picture}}" /><strong>{{co.userName}}</strong>
							</div>
							<div class="col-lg-3">{{co.messageDate| date : 'yyyy-MM-dd HH:mm:ss'}}</div>
							<div class="col-lg-12">
							<p>{{co.message}}</p>
							</div>
							</div>
							<span id="refresh" ng-click="getComment()" class="btn glyphicon glyphicon-refresh">刷新评论区</span>
						</div>
						<div class="panel-footer">
							<div align="center">
								<ul class="pagination pagination-sm">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
		var app = angular.module('myApp', ["ngRoute"]);
		var fileId = getUrlParam("id");
		app.controller('userInfo', function($scope, $http) {
			$http({
				method : 'post',
				url : 'user/userInfo'
			}).then(function successCallback(response) {
				if (response.data == "") {
					//未登录
					$scope.flag = "1";
				} else {
					//已登录
					$scope.flag = "0";
					$scope.user = response.data;
				}
			}, function errorCallback(response) {
			});
		});
		app.config(['$routeProvider', function($routeProvider){
            $routeProvider
            .when('/',{templateUrl:'userInfo.html',controller:"userInfo"})
            .otherwise({redirectTo:'/'});
        }]);
		app.controller(
						'fileInfo',
						function($scope, $http) {
							$http({
								method : 'get',
								url : 'file/getDetail/' + fileId
							})
									.then(
											function successCallback(response) {
												var fileSize = 0;
												var size = response.data.fileSize;
												if (size > 1024 * 1024) {
													fileSize = (Math.round(size
															* 100
															/ (1024 * 1024)) / 100)
															.toString()
															+ 'MB';
												} else {
													fileSize = (Math
															.round(size * 100 / 1024) / 100)
															.toString()
															+ 'KB';
												}
												response.data.fileSize = fileSize;
												$scope.file = response.data;
											},
											function errorCallback(response) {
												$.alert("获取后台数据失败");
											});
						});
		app.controller('commentInfo', function($scope, $http) {
			$http({
				method : 'get',
				url : 'file/getComment/' + fileId,
			}).then(function successCallback(response) {
				$scope.comment = response.data;
				if($scope.comment==""){
					$("#fileList").html("暂无评论");
				}else{
				}
			}, function errorCallback(response) {
				$("#fileList").html("获取后台数据失败");
			});
			$scope.getComment = function(){
				$http({
					method : 'get',
					url : 'file/getComment/' + fileId,
				}).then(function successCallback(response) {
					$scope.comment = response.data;
					if($scope.comment==""){
						$("#fileList").html("暂无评论");
					}else{
					}
				}, function errorCallback(response) {
					$("#fileList").html("获取后台数据失败");
				});
			}
		});
		function logout() {
			$.ajax({
				url : "user/logout",
				type : "post",
				success : function(data) {
					if (data = "ok") {
						toastr.info("注销账户成功");
					}
					setTimeout("location.reload()", 1000);
				}
			});
		}
		function userLogin() {
			var nametxt = $("#loginName").val();
			var passtxt = $("#loginPassword").val();
			if (nametxt == "" || passtxt == "") {
				toastr.warning("登录数据不允许存在空值");
			} else {
				$.ajax({
					url : "user/login",
					data : {
						"userName" : nametxt,
						"passwordEncryption" : passtxt
					},
					type : "post",
					success : function(data) {
						if (data == "ok") {
							toastr.info("登录成功");
							$("#loginBtn").attr("disabled", "true");
							$("#loginBtn").text("正在登录");
							setTimeout("window.location.reload()", 1000);
						} else {
							toastr.warning("账号或密码错误！！");
						}
					}
				});
			}
		}
		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
			var r = window.location.search.substr(1).match(reg); //匹配目标参数
			if (r != null)
				return unescape(r[2]);
			return null; //返回参数值
		}
		function download() {
			window.location.href = "file/download/" + getUrlParam("id");
		}
		$("#reset").click(function() {
			$("#editor").html("");
		});
		$("#send").click(function() {
			var txt = $("#editor").html();
			$.ajax({
				url : "file/saveComment",
				type : "post",
				data : {
					"fileId" : fileId,
					"comment" : txt
				},
				success : function(data) {
					if (data == "101") {
						toastr.warning("用户登录信息已失效，请重新登录!!");
					} else if (data == "102") {
						toastr.success("留言成功");
						$("#refresh").click();
					} else {
						toastr.warning("留言失败");
					}
				},
				error : function() {
					toastr.warning("系统异常,留言失败");
				}
			});
			$("#editor").html("");
		});
	</script>
</body>
</html>